@import "bootstrap";

@media screen {
	#print-section {
		display: none;
	}
}

@media print {
	body * {
		visibility: hidden;
	}

	#print-section, #print-section * {
		visibility: visible;
	}

	#print-section .exclude-from-print, #print-section .exclude-from-print * {
		display: none;
	}

	#print-section {
		position: absolute;
		left: 0;
		top: 0;
	}
}
